<mat-card>
  <mat-card-title>
    <h5>Upload HitDIC project file here</h5>
    <div class="note">
      <ul>
        <li>Update project file by uploading a new one.</li>
        <li>Only the latest version will be stored.</li>
      </ul>
    </div>
  </mat-card-title>
  <mat-card-content>
    <div *ngIf="projectid" class="status">
      <div *ngIf="uploaded == true; else elseBlock">
        History version exists.
      </div>
      <ng-template #elseBlock>
        No History version is available.
      </ng-template>
    </div>
    <input mat-flat-button color="accent" type="file" #file (change)="uploadFileOnChange(file.files)" accept="application/x-tar" />
  </mat-card-content>
</mat-card>
<mat-card>
  <div *ngIf="fileService.file">
    <button (click)="Upload()">Upload</button>
    <li>Name: {{fileService.file.name}}</li>
    <li>Size: {{fileService.file.size/1024 | number:'.2'}} KB</li>
    <li>Type: {{fileService.file.type}}</li>
  </div>
</mat-card>
<app-message></app-message>