<div *ngIf="userService.user.username; else noLoginBlock">
  <div *ngIf="userService.user.use == true; else noUsePermissionBlock">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="title" [(ngModel)]="title" name="title">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Note" [(ngModel)]="note" name="note" [ngModelOptions]="{standalone: true}"
          matTextareaAutosize matAutosizeMinRows=3 matAutosizeMaxRows=10></textarea>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-select placeholder="Method" [(ngModel)]="method" name="method">
          <mat-option *ngFor="let t of methods" [value]="t.value" name="method">
            {{t.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field >
      <mat-form-field class="example-full-width">
        <mat-select placeholder="Core" [(ngModel)]="core" name="core">
          <mat-option *ngFor="let c of cores" [value]='c'>{{c || 'Select'}}</mat-option>
        </mat-select>
      </mat-form-field>
      <button (click)="CreateTask()" mat-button>Create</button>
    </form>
  </div>
  <ng-template #noUsePermissionBlock>
    <p>Please contact the administrator for use permission!</p>
  </ng-template>
</div>
<ng-template #noLoginBlock>
  <p>Please login to create a new task!</p>
</ng-template>
<app-message></app-message>