<mat-tab-group>
  <mat-tab label="Basic">
    <mat-card>
      <mat-card-title>Mg-Al-Zn<button mat-button (click)="goProjects()">back to projects</button></mat-card-title>
      <mat-card-subtitle>
        <mat-chip-list>
          <mat-chip>{{projectid}}</mat-chip>
        </mat-chip-list>
      </mat-card-subtitle>
      <mat-card-content>
        <p>Note: Empty</p>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="Update">
    <mat-card>
      <input type="file" ng2FileSelect [uploader]="uploader" multiple /><br/>
      <!-- <p>Queue length: {{ uploader?.queue?.length }}</p> -->

      <table class="table">
        <thead>
          <tr>
            <th width="50%">Name</th>
            <th>Size</th>
            <th>Progress</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of uploader.queue">
            <td><strong>{{ item?.file?.name }}</strong></td>
            <td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
            <td *ngIf="uploader.isHTML5">
              <div class="progress" style="margin-bottom: 0;">
                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
              </div>
            </td>
            <td class="text-center">
              <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
              <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
              <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
            </td>
            <td nowrap>
              <button type="button" class="btn btn-success btn-xs" (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                <span class="glyphicon glyphicon-upload"></span> Upload
              </button>
              <button type="button" class="btn btn-warning btn-xs" (click)="item.cancel()" [disabled]="!item.isUploading">
                <span class="glyphicon glyphicon-ban-circle"></span> Cancel
              </button>
              <button type="button" class="btn btn-danger btn-xs" (click)="item.remove()">
                <span class="glyphicon glyphicon-trash"></span> Remove
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </mat-card>
  </mat-tab>
</mat-tab-group>

<mat-card>
  <table mat-table [dataSource]="tasks" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="tid">
      <th mat-header-cell *matHeaderCellDef> tid </th>
      <td mat-cell *matCellDef="let task"> <button mat-button (click)="showTask(task.tid)">{{task.tid | slice:0:8}}</button></td>
    </ng-container>

    <ng-container matColumnDef="hid">
      <th mat-header-cell *matHeaderCellDef> hid </th>
      <td mat-cell *matCellDef="let task"> {{task.hid | slice:0:8}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> status </th>
      <td mat-cell *matCellDef="let task">
        <mat-spinner *ngIf="task.status=='working'"></mat-spinner><button (click)="downloadTask(task.tid)" mat-button *ngIf="task.status=='done'">Download</button><button
          [disabled]="true" mat-button *ngIf="task.status=='deprecated'">Download</button> </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> type </th>
      <td mat-cell *matCellDef="let task"> {{task.type}} </td>
    </ng-container>

    <ng-container matColumnDef="createdat">
      <th mat-header-cell *matHeaderCellDef> createdat </th>
      <td mat-cell *matCellDef="let task"> {{task.createdtime}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
</mat-card>