<div *ngIf="projects">
  <div *ngFor="let hpro of projects">
    <mat-card>
      <mat-card-title>{{ hpro.hid }}<button mat-button (click)="listTasks(hpro.hid)">tasks</button></mat-card-title>
      <mat-card-subtitle>
        <mat-chip-list>
          <mat-chip>{{hpro.user}}</mat-chip>
          <mat-chip>{{hpro.timestamp}}</mat-chip>
          <mat-chip>{{hpro.src}}</mat-chip>
        </mat-chip-list>
      </mat-card-subtitle>
      <mat-card-content>
        <h4>{{hpro.title}}</h4>
        <p>{{hpro.note}}</p>
      </mat-card-content>

    </mat-card>
    <mat-divider></mat-divider>
  </div>

</div>