<mat-tab-group>
  <mat-tab label="Basic">
    <mat-card *ngIf="project">
      <mat-card-title>{{project.title}}<a mat-button routerLink="/projects">list of projects</a></mat-card-title>
      <mat-card-subtitle>
        <mat-chip-list>
          <mat-chip>{{projectid}}</mat-chip>
        </mat-chip-list>
      </mat-card-subtitle>
      <mat-card-content>
        <p>{{project.note}}</p>
      </mat-card-content>
    </mat-card>
    <app-tasklist></app-tasklist>

  </mat-tab>
  <mat-tab label="Update">
    <app-uploadfile></app-uploadfile>
  </mat-tab>
  <mat-tab label="Create">
    <mat-card>
      <app-newtask></app-newtask>
    </mat-card>
  </mat-tab>
</mat-tab-group>