<div class="landing-container">
  <div class="landing-item landing-img">
    <img src="../../assets/hitdic2-automated-saved.svg">
    <!-- <h1 [ngStyle.xs]="{'font-size': '32px'}" [ngStyle.sm]="{'font-size': '42px'}">HitDIC 2 | Automated</h1> -->
  </div>
  <div class="landing-item">
    <h2 [ngStyle.xs]="{'font-size': '18px'}" [ngStyle.sm]="{'font-size': '22px'}">Powered by Prof. Lijun's Group from
      Central South University</h2>
  </div>
  <div class="landing-item">
    <a class="heading-button-left" mat-flat-button color="accent" routerLink="/projects">Get Started</a>
  </div>
</div>

<div class="header-container">
  <h3>[ Three steps to use automated HitDIC 2]</h3>
</div>

<div class="content-container">
  <div class="content-item">
    <mat-card class="example-card">
      <div class="my-card-header">
        <div class="my-card-title">
          Step 1: Create HitDIC project
        </div>
      </div>
      <img mat-card-image src="../../assets/hitdicsteps/create-project.png" alt="Photo of create HitDIC project">
    </mat-card>
  </div>
  <article class="content-item">
    <mat-card class="example-card">
      <div class="my-card-header">
        <div class="my-card-title">
          Step 2: Upload HitDIC project file
        </div>
      </div>
      <img mat-card-image src="../../assets/hitdicsteps/upload-hitdicproject.png" alt="Photo of upload-HitDIC-project">
    </mat-card>
  </article>
  <div class="content-item">
    <mat-card class="example-card">
      <div class="my-card-header">
        <div class="my-card-title">
          Step 3: Create HitDIC project task
        </div>
      </div>
      <img mat-card-image src="../../assets/hitdicsteps/create-hitdictask.png" alt="Photo of create-HitDIC-project">
    </mat-card>
  </div>
</div>

<div class="header-container">
  <h3>[ View report of HitDIC 2]</h3>
</div>

<div class="content-container">
  <article class="report-item">
    <mat-card class="example-card">
      <div class="my-card-header">
        <div class="my-card-title">
          Overview
        </div>
      </div>
      <img mat-card-image src="../../assets/hitdicreports/overview.png" alt="Photo of upload-HitDIC-project">
    </mat-card>
  </article>
  <div class="report-item">
    <mat-card class="example-card">
      <div class="my-card-header">
        <div class="my-card-title">
          Convergence Sequence
        </div>
      </div>
      <img mat-card-image src="../../assets/hitdicreports/convergensequence.png" alt="Photo of create-HitDIC-project">
    </mat-card>
  </div>
  <div class="report-item">
    <mat-card class="example-card">
      <div class="my-card-header">
        <div class="my-card-title">
          Composition Profiles
        </div>
      </div>
      <img mat-card-image src="../../assets/hitdicreports/composition-profiles.png" alt="Photo of create-HitDIC-project">
    </mat-card>
  </div>
  <div class="report-item">
    <mat-card class="example-card">
      <div class="my-card-header">
        <div class="my-card-title">
          Interdiffusion Coefficient
        </div>
      </div>
      <img mat-card-image src="../../assets/hitdicreports/interd-profiles.png" alt="Photo of create-HitDIC-project">
    </mat-card>
  </div>
</div>