.image {
  /* background-repeat: repeat; 
    background-size:cover;
    width:auto;
    background-image:url('../../assets/colorfulgradient.jpg');
    background-position:50% 50%; */
}

.landing-container {
  display: flex;
  /* flex-flow: row wrap; */
  font-weight: bold;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 50px;
}

.landing-item {
  width: 100%;
}

.landing-img {
  margin-top: 5%;
  margin-bottom: 5%;
}

.landing-img img {
  width: 100%;
}

.header-container {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.content-container {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.content-item {
  margin: 10px;
}

@media all and (max-width: 410px) {
  .content-item {
    flex: 1 1 auto;
  }
}

@media all and (min-width: 410px) {
  .content-item {
    flex: 1 1 auto;
    width: calc(33.333% - 20px);
  }
}

.report-item {
  margin: 10px;
}

@media all and (max-width: 410px) {
  .report-item {
    flex: 1 1 auto;
  }
}

@media all and (min-width: 410px) {
  .report-item {
    flex: 1 1 auto;
    width: calc(50% - 20px);
  }
}

@media all and (min-width: 1000px) {
  .report-item {
    flex: 1;
    width: calc(25% - 20px);
  }
}