<mat-toolbar color="primary" class="fixed-header">
  <span>HitDIC 2 | Automated</span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <span *ngIf="userService.user.username; else elseBlock" [ngStyle.xs]="{'font-size': '10px'}" [ngStyle.sm]="{'font-size': '14px'}">
    {{userService.user.username}}
  </span>
  <span *ngIf="userService.user.username">
    <button mat-button (click)="userService.Logout()" ><mat-icon>logout</mat-icon></button>
  </span>
</mat-toolbar>

<ng-template #elseBlock>
  <a mat-button routerLink="/login">Login</a>
</ng-template>